.cell {
  background: green;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.cell > .disc {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin: 0.25em;
}

.cell.white > .disc {
  background: white;
}

.cell.black > .disc {
  background: black;
}
